<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DeepSeekApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeepseekBalance">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DeepseekBalance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <receiver
            android:name=".ui.widget.BalanceWidgetSmall"
            android:exported="true"
            android:label="哨兵 紧凑">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_balance_info_small" />
        </receiver>

        <receiver
            android:name=".ui.widget.BalanceWidgetMedium"
            android:exported="true"
            android:label="哨兵 经典">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_balance_info_medium" />
        </receiver>

        <receiver
            android:name=".ui.widget.BalanceWidgetLarge"
            android:exported="true"
            android:label="哨兵 宽版">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_balance_info_large" />
        </receiver>
    </application>

</manifest>
